{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="hold-transition dark-mode sidebar-mini ">
  <div class="wrapper">


    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Student Details</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="sticky-top mb-3">
                <div class="container">
                  <div class="row">
                    <div class="col-">
                      <table class="table table-responsive table-bordered table-overflow">
                        <thead>
                          <tr>
                            <th scope="col">STUDENTPHOTO</th>
                            <th scope="col">FIRSTNAME</th>
                            <th scope="col">LASTNAME</th>
                            <th scope="col">ROLLNO</th>
                            <th scope="col">CONTACTNUMBER</th>
                            <th scope="col">E-MAILADDRESS</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">CITY</th>
                            <th scope="col">STATE</th>
                            <th scope="col">PINCODE</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for student in students %}
                          <tr>
                            <th scope="row"><img src="{{ student.profile }}" alt="" border="3" height="100"
                                width="100" />
                            </th>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.rollno}}</td>
                            <td>{{student.contact}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.address}}</td>
                            <td>{{student.city}}</td>
                            <td>{{student.state}}</td>
                            <td>{{student.pincode}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </section>
    </div>


  </div>
</body>
{% endblock %}